<extends src="src/layouts/main.html">
  <block name="template">
    <table class="email-wrapper w-full font-sans">
      <tr>
        <td align="center">
          <table class="email-content w-full">
            <component src="src/components/header.html"></component>
            <raw>
              <tr>
                <td class="email-body w-full bg-white">
                  <table align="center" class="email-body_inner w-570 bg-white mx-auto sm:w-full">
                    <tr>
                      <td class="p-45">
                        <div class="text-base">
                          <h1 class="mt-0 text-2xl font-bold text-left text-gray-postmark-darker">Hello!</h1>
                          <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                            My name is Parin and I'm the Vice President of LINK. We at LINK have created a <b>short
                              form</b> so that
                            we can <i><b>understand the needs of everyone and do our very best to fulfill them.</b></i>
                          </p>
                          <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                            No name or email will be recorded, so you can answer freely!
                          </p>
                          <table align="center" class="w-full text-center my-30 mx-auto">
                            <tr>
                              <td align="center">
                                <table class="w-full">
                                  <tr>
                                    <td align="center" class="text-base">
                                      <a href="https://forms.gle/P7ytSYPqWy3re3m9A"
                                        class="button bg-gradient-to-r from-violet-500 to-fuchsia-500"
                                        target="_blank">Fill out
                                        Form</a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                            Thank you very much! You've helped us a lot by filling out the form! We hope you have a
                            great day and vote LINK as your next Student Council.

                          </p>
                          <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                            Sincerely,
                            <br>Parinthapat Pengpun
                          </p>
                          <table class="body-sub">
                            <tr>
                              <td>
                                <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">If you're having
                                  trouble with the button above, copy and paste the URL below into your web browser.</p>
                                <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">
                                  https://forms.gle/P7ytSYPqWy3re3m9A</p>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </raw>
            <component src="src/components/footer.html"></component>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>